<footer>
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Caja petrolera de salud</a>, Fernando Castillo Torrico</p>
    </div>
</footer>
