.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.navbar.navbar-primary {
    background-color:transparent;
    color: #fff;
}
.navbar-fixed-top {
    border-radius: 0;
}
.lock-page>.content, .login-page>.content {
    padding-top: 18vh;
}

.full-page>.content {
    min-height: calc(100vh - 80px);
}
.full-page>.content, .full-page>.footer {
    position: relative;
    z-index: 4;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
}

.card-login {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    padding-bottom: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .card-header {
        margin-top: -40px;
        margin-bottom: 20px;
    }
    img{
        width: 42px;
    }
}

.card [data-background-color], .card [data-background-color] a {
    color: #fff;
}

footer{
    p{
        color: #bbb;
    }
    a{
        color: #007b6d;
    }
}
