<div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black">
            
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                                <div class="card card-login">
                                    <div class="card-header text-center" data-background-color="teal">
                                        <img src="/assets/img/favicon.png"/>
                                        <h4 class="card-title">Ingresa tu cuenta</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Usuario</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Contraseña</label>
                                                <input class="form-control" type="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button class="btn btn-rose btn-simple btn-wd btn-lg" type="submit">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-page-background" style="background-image: url(./assets/img/sidebar-4.jpg) "></div>
        </div>
    </div>