<div class="wrapper" *ngIf="session">
    <div class="sidebar" data-color='teal' data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <app-footer ></app-footer>
    </div>
</div>
<div class="wrapper" *ngIf="!session">
    <router-outlet></router-outlet>
</div>

