.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 70px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}
.user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}
.photo {
    width: 34px;
    height: 34px;
    float: left;
    overflow: hidden;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    z-index: 5;
    -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

img {
    width: 100%;
    vertical-align: middle;
}

img {
    border: 0;
}

.user a {
    color: #3c4858;
    padding: 6px 10px;
    display: block;
    white-space: nowrap;
}

.user::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}
